p {
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #110e38;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-font-smoothing: antialiased;
}
